<!DOCTYPE html>
<!-- SGML
 Filename: views/home.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/blog
 Author: Mario Abruzzi
 Date: 16-Dec-2013
 Desc: Week 03 - Day 01 - Demo
 Notes: 
-->
<html>
<head>
  <title>BWAIN Home</title>
</head>
<body>
<p>%DEBUG-I-HOME_ERB, In views/home.erb</p><br />
</body>
</html>
